.landing_wrapper {
    height: 100%;
    width: 100vw;
    background: rgb(61, 61, 61);
    background: radial-gradient(at top left, #303030 0%, #181818 100%);
    position: relative;
    overflow: hidden;
}

.landing_content_wrapper {
    width: 88%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fan_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20;
}

.fan_rotated {
    width: 1000%;
    height: 1000%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
    transition: all 150ms ease-in-out;
    -webkit-box-shadow: 0px 1px 15px 8px rgba(57, 57, 57, 0.75);
    box-shadow: 0px 1px 15px 8px rgba(0, 0, 0, 0.75);
}

.open_animation_rotated {
    transform: rotate(0deg) !important;
    transition: all 150ms ease-in-out;
}

.fan_straight {
    width: 1000%;
    height: 1000%;
    position: absolute;
    top: -100%;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 0px 1px 15px 8px rgba(57, 57, 57, 0.75);
    box-shadow: 0px 1px 15px 8px rgba(0, 0, 0, 0.75);
}

.open_animation_straight {
    left: 0 !important;
    transition: all 200ms ease-in-out;
}

.name_wrapper {
    width: 75%;
    z-index: 7;

    box-shadow: 0px 1px 15px 8px rgb(0 0 0 / 75%);
    border: 5px solid #151515;
    font-weight: bold;
}

.img_wrapper {
    display: flex;
    justify-content: center;
    >img {
        filter: brightness(0.9);
        max-width: 90%;
        position: relative;
        z-index: 6;
    }
}

.slogan {
    border-top: 5px solid  ;
    padding: 10px;
    background: #181818;
}

.name {
    box-shadow: inset 0px 1px 15px 2px rgb(0 0 0 / 75%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    
    >h1{
        margin: 0;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
}

.bg_logo{
    display: none;
    position: absolute;
    height: 70%;
    right: 20px;
    bottom: 20px;
}





.headline_wrapper{
    cursor: pointer;
    z-index: 5;
    box-shadow: inset 0px 1px 15px 2px rgb(0 0 0 / 75%);
    background: #181818;
    position: relative;
    padding-left:50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid;
    width: calc(75% - 40px);
    box-shadow: 0px 1px 15px 8px rgb(0 0 0 / 75%);
    >h1{
        font-size: 30px;
        margin: 0;
        margin-right: 15px;
    }
}

.btn_fan{
    position: absolute;
    left: -15px;
    width: 20px;
    height: 300%;
    bottom: -70%;
}


.btn_fan_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.btn_box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.arrow_right {
    height: 20px;
    width: 20px;
    position: relative;
    transform: rotate(45deg);
}


.headline_wrapper:hover {
    .arrow_right {
        animation: rightArrowWiggle 1250ms ease-in-out infinite;
    }
}

@keyframes rightArrowWiggle {
    0% {
        transform: translateX(0px) rotate(45deg);
    }

    50% {
        transform: translateX(10px) rotate(45deg);
    }

    100% {
        transform: translateX(0px) rotate(45deg);
    }
}

@media only screen and (max-height: 800px) and (min-height: 600px) {
    .img_wrapper {

        >img {
            filter: brightness(0.9);
            max-width: 50%;

        }
    }
    .name {
        font-size: 25px;
    }
}

@media only screen and (max-height: 599px) {
    .img_wrapper {

        >img {
            filter: brightness(0.9);
            max-width: 50%;

        }
    }
    .name {
        font-size: 20px;
    }
}
